.user-profile-container {
    overflow-wrap: break-word;
}

.user-profile-details-subscription {
    display: inline-block;
}

.user-profile-icon {
    border: 2px solid lightgrey;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.billing-info-labels {
    box-shadow: 0 0 1rem rgba(0,0,0,.15);
    background-color: rgba(0, 0, 0, 0.08);
}

@media (max-width: 576px) {

    .user-profile-name {
        font-size: calc(1rem + .8vw);
        margin-top: 1rem;
    }

    .user-profile-email,
    .user-profile-phone,
    .user-profile-gender {
        font-size: calc(0.75rem + .8vw);;
        margin-top: 1rem;
    }

    .user-profile-info-section, .user-profile-edit-btn-section {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .btn-edit-profile {
        margin-top: 1rem;
    }

    .user-profile-container {
        padding: 0;
    }

    .user-profile-container-top-row {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        padding: 1.5rem !important;
    }
}
