.forgot-password a,
.privacy-text a {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #003FFF;
    font-family: 'Gilroy', sans-serif;
}

.btn-signin-signup-forgetpassword {
    border-radius: 3rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
}

.privacy-text {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.825em;
    line-height: 22px;
    letter-spacing: 0.05px;
    color: #797979;
    text-align: left;
}
